.slider {
  position: absolute;
  top: 83px;
  width: 100%;
  height: 100%;
  z-index: 1;

  @media (min-width: $width-desktop) {
    left: calc(50% - 720px);
    width: 1440px;
    top: 97px;
  }

  &::before {
    content: "";
    position: absolute;
    top: auto;
    bottom: 8px;
    right: -73px;
    width: 148px;
    height: 148px;
    background-color: $color-gallery-background;
    transform: rotate(45deg);
    z-index: 5;

    @media (min-width: $width-desktop) {
      top: 159px;
      right: 278px;
      width: 138px;
      height: 383px;
      transform: rotate(0deg);
      z-index: 4;
    }
  }
}

.slider__large-letter-a {
  position: absolute;
  top: auto;
  bottom: 355px;
  left: 70px;
  width: 39px;
  height: 80px;
  z-index: 11;

  @media (min-width: $width-desktop) {
    top: -66px;
    bottom: auto;
    left: calc(50% + 261px);
    width: 52px;
    height: 106px;
  }
}

.slider__large-letter-g {
  position: absolute;
  top: auto;
  bottom: 371px;
  right: 131px;
  width: 41px;
  height: 80px;
  z-index: 2;


  @media (min-width: $width-desktop) {
    top: 93px;
    bottom: auto;
    right: 320px;
    width: 55px;
    height: 106px;
    z-index: 3;
  }
}

.slider__large-letter-e {
  position: absolute;
  top: auto;
  bottom: 448px;
  right: 71px;
  width: 32px;
  height: 80px;
  z-index: 11;

  @media (min-width: $width-desktop) {
    top: 16px;
    bottom: auto;
    right: calc(50% - 476px);
    width: 42px;
    height: 106px;
    z-index: 1;
  }
}

.slider__item--back {
  position: absolute;
  width: 280px;
  height: 167px;
  bottom: 401px;
  right: calc(100% - 236px);
  overflow: hidden;
  transition: all 1000ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

  @media (min-width: $width-desktop) {
    width: 800px;
    height: 525px;
    top: 0;
    bottom: auto;
    right: 560px;
    background-color: $color-gallery-background;
  }
}

.slider__item--back img {
  width: 280px;
  height: 184px;
  object-position: 0 top;
  opacity: 0.2;

  @media (min-width: $width-desktop) {
    width: 800px;
    height: 525px;
    object-position: center top;
  }
}

.slider__item--front {
  position: absolute;
  bottom: 83px;
  right: -238px;
  width: 558px;
  height: 318px;
  overflow: hidden;
  background-color: $color-gallery-background;
  z-index: 2;
  transition: all 1200ms cubic-bezier(0.190, 1.000, 0.220, 1.000);

  @media (min-width: $width-tablet) {
    right: -120px;
  }

  @media (min-width: $width-desktop) {
    bottom: auto;
    width: 860px;
    height: 490px;
    top: 87px;
    right: 80px;
    background-color: $color-gallery-background;
  }
}

.slider__item--front img {
  width: 558px;
  height: 318px;
  object-position: -120px top;
  opacity: 0.4;

  @media (min-width: $width-desktop) {
    width: 860px;
    height: 490px;
    object-position: center top;
    opacity: 0.2;
  }
}

.slider__controls {
  position: relative;
}

.slider__btn {
  position: absolute;
  font-size: 0;
  cursor: pointer;
  border: 0;
  outline: 0;
  background-color: transparent;
  z-index: 9;
}

.slider__btn--prev {
  bottom: -347px;
  right: 280px;

  @media (min-width: $width-desktop) {
    bottom: auto;
    top: 387px;
    left: auto;
    right: 435px;
  }
}

.slider__btn--next {
  bottom: -347px;
  right: 19px;

  @media (min-width: $width-desktop) {
    bottom: auto;
    top: 387px;
    left: auto;
    right: 239px;
  }
}

.slider__btn span {
  @include visually-hidden;
}
